*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: gold;
}

section{
    min-height: 100vh;
    width: 100%;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow img{
    background-color: gold !important;
    height: 50px;
    width: 50px; 
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: centre;
    margin: 0 auto;
    width: 90%;
}

.container div{
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 30px 1px black;
}

.container div:hover{
    box-shadow: 1px 1px 60px 1px black;
}

.container h2{
    margin: 20px 0;
    font-size: 60px;
}

.arrow{
    background-color: transparent;
    margin-left: 30px;
    margin-right: 30px;
}

.welcomeText{
    display: flex;
    background-color: bisque;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 40px;
    font-style: oblique;
    
}